.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 34px 36px 37px 36px;
}

@media (max-width: 580px) {
  .form {
    margin: 25px 22px;
  }
}
