.header {
  max-width: 880px;
  margin: 45px 200px 41px 200px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media (max-width: 1080px) {
  .header {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 870px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 430px) {
  .header {
    max-width: 430px;
    margin: 28px 0 42px 0;
  }
}
