.button-submit {
  background-color: #000;
  color: #fff;
  height: 50px;
  max-width: 358px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  padding: 0;
  margin: 18px 0 0 0;
}

.button-submit:hover {
  opacity: 80%;
}

@media (max-width: 580px) {
  .button-submit {
    max-width: 238px;
    font-size: 14px;
    margin-top: 15px;
    height: 46px;
  }
}
