.profile-info__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  margin: 0 18px 16px 0;
  justify-self: right;
}

@media (max-width: 720px) {
  .profile-info__title {
    margin: 0 10px 10px 0;
  }
}

@media (max-width: 380px) {
  .profile-info__title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 6px;
  }
}
