.profile-info__button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url(../../../images/VectorPen.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: left;
  cursor: pointer;
}

.profile-info__button:hover {
  opacity: 80%;
}

@media (max-width: 720px) {
  .profile-info__button {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
  }
}
