.popap__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 34px 36px 46px 36px;
}

@media (max-width: 580px) {
  .popap__title {
    font-size: 18px;
    margin: 25px 22px 75px 22px;
  }
}
